<div class="about section">
    <div class="about__wrapper">
        <div class="about__box U__right" data-aos="fade-down-right" data-aos-delay="100">
            <div>
                <h2 class="about__heading">Who are we?</h2>
                <h2 class="about__main">
                    Effecting Change through Business innovation and Transformational Leadership.
                </h2>
                <p class="about__description">
                    With a membership from over 50 African Countries, we are strategically equipping and
                    Strengthening the position of the African youth on a global scale. Our desire is to create a safe
                    space for Africa’s youth to be nurtured and trained in order to thrive with the rest of the world in
                    the race for Global excellence. Although there are a number of African youths representing the
                    continents well, however, we intend to increase the number elaborately.
                </p>
                <button class="about__btn"><a href="#" class="about__link">Read More 
                    <i class="fa fa-long-arrow-right"></i></a></button>
            </div>
        </div>
        <div class="about__box about__right">
            <img src="./assets/circle-01.png" alt="circle" class="about__circle-01">
            <img src="./assets/circle-01.png" alt="circle" class="about__circle-02">
            <img src="./assets/circle-01.png" alt="circle" class="about__circle-03">
        </div>
    </div>
</div>