<div class="features">
    <div class="features__header section__title">
        <h2 class="features__heading">Our deliverables/ What we offer?</h2>
        <div class="general__line"></div>
        <p class="features__info">
            Empowerment, building world-class leaders, <br> and connecting Africa’s youths with
            world-class opportunities.
        </p>
    </div>
    <div class="features__wrapper">
        <div class="features__box" data-aos="zoom-in-up">
            <div class="features__iconBox"><img src="/assets/teamwork-1.png" alt="Mentorship"
                    class="features__img"></div>
            <h2 class="features__main">
                Mentorship and Leadership Training
            </h2>
            <p class="features__description">
                We connect our community members with cutting-edge leaders and Industrial experts of
                different industries. This is to foster interaction and collaborations and experience between the
                younger generation and the older generation.
            </p>
        </div>
        <div class="features__box" data-aos="zoom-in-up">
            <div class="features__iconBox"><img src="/assets/forum.png" alt="Summits" class="features__img">
            </div>
            <h2 class="features__main">
                Annual Summits and Forums
            </h2>
            <p class="features__description">
                We host yearly summits where panel of experts guide community members via conversations
                and presentations. Members get to ask questions and learn first hand from experience
                personnels.
            </p>
        </div>
        <div class="features__box" data-aos="zoom-in-up">
            <div class="features__iconBox"><img src="/assets/training.png" alt="Workshops" class="features__img"></div>
            <h2 class="features__main">
                Tourism and Workshops
            </h2>
            <p class="features__description">
                Members of our community get to learn new skills and travel to amazing places. Memories,
                networking and skilling up is the primary goal of the hidb
            </p>
        </div>
        <div class="features__box" data-aos="zoom-in-up" data-aos-delay="50">
            <div class="features__iconBox"><img src="/assets/handshake.png" alt="Online Schools"
                    class="features__img"></div>
            <h2 class="features__main">
                Meet-ups
            </h2>
            <p class="features__description">
                We introduce cutting-edge and relevant 21st century courses to our members. We bring them
                closer to achieving their professional dreams. At Tracers, the growth of every member of the
                community is our priority.
            </p>
        </div>
    </div>
</div>