<!-- ================== Footer =================== -->
<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__box">
            <h2 class="footer__logo">Tracers</h2>
            <p class="footer__info">
                We are awakening the pioneering African Spirit again across Business,
                Technology, and Leadership. There is no way we would compete with the Global stage without
                transforming Africa first.
            </p>
            <div class="footer__contact">
                <p class="footer__number">
                    <i class='bx bx-phone-call'></i>
                    <a href="tel:+2347047257462" class="footer__xftre">+2347047257462</a>
                </p>
                <p class="footer__number">
                    <i class='bx bx-mail-send'></i>
                    <a href="mailto:musediqolamilekan567@gmail.com" class="footer__xftre">Tracers@gmail.com</a>
                </p>
            </div>
        </div>
        <div class="footer__box">
            <h3 class="footer__main">navigate the website</h3>
            <nav class="footer__navigation">
                <ul class="footer__ul">
                    <li class="footer__li"><a href="#" class="footer__link">Home</a></li>
                    <li class="footer__li"><a href="#" class="footer__link">About Us</a></li>
                    <li class="footer__li"><a href="#" class="footer__link">Membership</a></li>
                    <li class="footer__li"><a href="#" class="footer__link">Location</a></li>
                    <li class="footer__li"><a href="#" class="footer__link">Publication</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__box">
            <h2 class="footer__logo">Our Newsletter</h2>
            <p class="footer__info">
                Get the latest update on opportunities, paid internship and paid resources, sent directly to your
                mail.
            </p>
            <form class="footer__form">
                <div class="footer__inputBox">
                    <input type="email" name="email" id="email" class="footer__input" required
                        placeholder="Enter Your Email">
                </div>
                <div class="footer__submitBox">
                    <button type="submit" class="footer__btn">subscribe</button>
                </div>
            </form>
        </div>
    </div>

    <!-- CopyRight -->
    <div class="footer__copyRight">
        <p class="footer__copy">© Copyright <span class="footer__primary">Tracers</span>. All Rights Reserved</p>
    </div>
</footer>