<!-- ================ Header ============== -->
<header class="header">
    <div class="header__container">
        <div class="header__box-01">
            <img src="/assets/logo.png" alt="Logo" class="header__logo">
        </div>
        <div class="header__box-02">
            <ul class="header__ul">
                <li class="header__li">
                    <a href="/" class="header__link header__active">Home</a>
                </li>
                <li class="header__li">
                    <a href="/aboutUs" class="header__link">About Us</a>
                    <ul class="header__dropdown">
                        <li class="header__dropdown-li"><a href="/team" class="header__dropdown-link">Board Team</a>
                        </li>
                        <li class="header__dropdown-li"><a href="#" class="header__dropdown-link">Who we are</a>
                        </li>
                        <li class="header__dropdown-li"><a href="#" class="header__dropdown-link">Vision</a></li>
                        <li class="header__dropdown-li"><a href="#" class="header__dropdown-link">Mission</a></li>
                        <li class="header__dropdown-li"><a href="#" class="header__dropdown-link">Approaches</a>
                        </li>
                    </ul>
                </li>
                <li class="header__li">
                    <a href="#" class="header__link">membership</a>
                    <ul class="header__dropdown">
                        <li class="header__dropdown-li"><a href="/register" class="header__dropdown-link">Sign-up for
                                action</a></li>
                        <li class="header__dropdown-li"><a href="#" class="header__dropdown-link">Volunteer</a></li>
                    </ul>
                </li>
                <li class="header__li"><a href="/location" class="header__link">Location</a></li>
                <li class="header__li">
                    <a href="#" class="header__link">Publication</a>
                    <ul class="header__dropdown">
                        <li class="header__dropdown-li"><a href="#" class="header__dropdown-link">News</a></li>
                        <li class="header__dropdown-li"><a href="#" class="header__dropdown-link">Events</a></li>
                    </ul>
                </li>
                <li class="header__li"><a href="#" class="header__link">Contact Us</a></li>
                <li class="header__li"><a href="#"><button class="header__btn">Donate</button></a></li>
            </ul>
        </div>

        <div class="header__box-03">
            <div id="nav-icon2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- =========== Menu For Mobile ================ -->
    <div class="menu" id="menu">
        <button type="button" class="menu__accordion"><a href="/" class="menu__link">Home</a></button>
        <button type="button" class="menu__accordion" id="accordion"><a href="/aboutUs" class="menu__link">About Us</a></button>
        <div class="menu__content">
            <ul class="menu__ul">
                <li class="menu__li"><a href="/team" class="menu__link">Board Team</a>
                </li>
                <li class="menu__li"><a href="#" class="menu__link">Who we are</a>
                </li>
                <li class="menu__li"><a href="#" class="menu__link">Vision</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Mission</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Approaches</a>
                </li>
            </ul>
        </div>
        <button type="button" class="menu__accordion" id="menu__accordion">Membership</button>
        <div class="menu__content">
            <ul class="menu__ul">
                <li class="menu__li"><a href="/register" class="menu__link">Sign-up for action</a>
                </li>
                <li class="menu__li"><a href="#" class="menu__link">Volunteer</a>
                </li>
            </ul>
        </div>
        <button type="button" class="menu__accordion">Location</button>
        <button type="button" class="menu__accordion" id="pub__accordion">Publication</button>
        <div class="menu__content">
            <ul class="menu__ul">
                <li class="menu__li"><a href="#" class="menu__link">News</a>
                </li>
                <li class="menu__li"><a href="#" class="menu__link">Events</a>
                </li>
            </ul>
        </div>
        <button type="button" class="menu__accordion">Contact Us</button>
        <button type="button" class="menu__accordion">Donate</button>
        <button type="button" class="menu__accordion">Light Mode</button>
    </div>
</header>
<script src="/scripts/main.js"></script>