<div class="hero">
    <div class="heroSwipe">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero__absolute hero__bg-1">
                    <div class="hero__textBox">
                        <h2 class="hero__heading hero__delay">The Future is in Africa</h2>
                        <p class="hero__description hero__delay">
                            The stories of the past are the drivers of the future. <br>
                            To know these stories is to be prepared for the future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero__absolute hero__bg-2">
                    <div class="hero__textBox">
                        <h2 class="hero__heading hero__delay">Transforming the Africa Youths</h2>
                        <p class="hero__description hero__delay">
                           ...Pioneering business innovations, technology, and leadership
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero__absolute hero__bg-3">
                    <div class="hero__textBox">
                        <h2 class="hero__heading hero__delay">Creating a safe space for African Youths</h2>
                        <p class="hero__description hero__delay">
                            Strategically equipping and strengthening <br> the position of Africa youth on a global scale
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="swiper-pagination hero__pagination"></div> -->
    </div>
</div>