<section class="partners">
    <h2 class="partners__heading">Our Collaborators</h2>
    <div class="partners__wrapper">
        <p class="partners__info">
            "Over the years we have partnered with individuals and companies to achieve our goals. And
            this collaboration has been helpful in achieving our goals."
        </p>
        <img src="/assets/open-bracket.png" alt="" class="w-bracket-lg">
        <img src="/assets/closing-bracket.png" alt="" class="w-bracket-rg">
    </div>
    <div class="partners__w-cola">
        <div class="partners__w-pat"><img src="/assets/partner-01.png" alt=""></div>
        <div class="partners__w-pat"><img src="/assets/partner-02.png" alt=""></div>
        <div class="partners__w-pat"><img src="/assets/partner-06.png" alt=""></div>
    </div>
</section>