<section class="patron">
    <div class="features__header section__title">
        <h2 class="features__heading">Our Patrons</h2>
        <div class="general__line"></div>
        <p class="features__info">At Tracers, we have amazing Leaders <br> we consult for advice and healthy conversations.</p>
    </div>
    <!-- Swiper -->
    <div class="heroSwipe">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="patron__box">
                    <div class="patron__roundImage">
                        <img src="./assets/tim.png" alt="">
                    </div>
                    <div class="patron__info">
                        <h2 class="patron__name">Tim Akano</h2>
                        <p class="patron__title">C.E.O New Horizons</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="patron__box">
                    <div class="patron__roundImage">
                        <img src="./assets/tim.png" alt="">
                    </div>
                    <div class="patron__info">
                        <h2 class="patron__name">Tim Akano</h2>
                        <p class="patron__title">C.E.O New Horizons</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="patron__box">
                    <div class="patron__roundImage">
                        <img src="./assets/tim.png" alt="">
                    </div>
                    <div class="patron__info">
                        <h2 class="patron__name">Tim Akano</h2>
                        <p class="patron__title">C.E.O New Horizons</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="patron__box">
                    <div class="patron__roundImage">
                        <img src="./assets/tim.png" alt="">
                    </div>
                    <div class="patron__info">
                        <h2 class="patron__name">Tim Akano</h2>
                        <p class="patron__title">C.E.O New Horizons</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="patron__box">
                    <div class="patron__roundImage">
                        <img src="./assets/tim.png" alt="">
                    </div>
                    <div class="patron__info">
                        <h2 class="patron__name">Tim Akano</h2>
                        <p class="patron__title">C.E.O New Horizons</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="patron__box">
                    <div class="patron__roundImage">
                        <img src="./assets/tim.png" alt="">
                    </div>
                    <div class="patron__info">
                        <h2 class="patron__name">Tim Akano</h2>
                        <p class="patron__title">C.E.O New Horizons</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="swiper-pagination hero__pagination"></div> -->
    </div>
</section>