<div class="service">
    <div class="service__wrapper">
        <div class="service__box">
            <img src="/assets/Img_home_method_circle_lavander.svg" alt="Img_home_method_circle_lavender"
                class="service__image-01">
            <img src="/assets/services.svg" alt="services" class="service__image-02">
            <img src="/assets/nat-1.jpg" alt="nat-1" class="service__image-03">
            <img src="/assets/Img_home_why_bracket_green.svg" alt="Img_home_why_bracket_green"
                class="service__image-04">
        </div>
        <div class="service__box">
            <div class="service__textBox">
                <h2 class="service__heading">Why do we do what we do ?</h2>
                <h2 class="service__main">
                    To build a community that thrives on collaboration, creativity, critical thinking and
                    excellence.
                </h2>
                <p class="service__description">
                    It’s no news that the world has changed. And this change is evident all around us. At Tracers,
                    we are creating a safe space for young Africans to learn and equip themselves with relevant
                    skills that would help them strategically position themselves for the opportunities that come with
                    Change.
                    We are building an ecosystem that supports collaboration, critical thinking, complex problem
                    changing, however, we want to bring this ecosystem to the grassroots of African countries. Our
                    drive is to see young Africans enjoy limitless opportunities, shine and flourish globally.
                    solving and contributes to the rewriting of the narrative of the African youth. Yes! the story is
                </p>
                <button class="service__btn"><a href="#" class="about__link">Read More</a></button>
            </div>
        </div>
    </div>
</div>