<div class="swiper mySwiper section">
    <div class="features__header section__title swiper__header">
        <h2 class="features__heading">Get to know us.</h2>
        <div class="general__line"></div>
        <p class="features__info">Our Values, Vision, Mission and Goals.</p>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper__box">
                <h2 class="swiper__heading">Our Vision</h2>
                <i class='bx bxs-quote-alt-left'></i>
                <p class="swiper__info">
                    To see young Africans thrive and correctly represent Africa in Governance,
                    Technology, Media, Agriculture and Business globally
                </p>
                <i class='bx bxs-quote-alt-right'></i>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper__box">
                <h2 class="swiper__heading">Our Mision</h2>
                <i class='bx bxs-quote-alt-left'></i>
                <p class="swiper__info">
                    To raise a community for visinay African youths, a hub that supports
                    creativity and an ecosystem that builds exceptional leaders
                </p>
                <i class='bx bxs-quote-alt-right'></i>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper__box">
                <h2 class="swiper__heading">Our Core-Value</h2>
                <i class='bx bxs-quote-alt-left'></i>
                <p class="swiper__info">
                    We believe in the power of leadership as a crucial element for change
                    in governance, policies and education. We are also driven by the culture and history of
                    Africa.
                </p>
                <i class='bx bxs-quote-alt-right'></i>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper__box">
                <h2 class="swiper__heading">Our Goals</h2>
                <i class='bx bxs-quote-alt-left'></i>
                <p class="swiper__info">
                    To prepare and position Africa youths for the ensure Africa’s global
                    competitiveness via her youth and prep
                </p>
                <i class='bx bxs-quote-alt-right'></i>
            </div>
        </div>
    </div>
</div>