//Hero
.hero {
  position: relative;
  &__absolute {
    position: relative;
    width: 100%;
    height: 70vh;
    margin: 0em 0em 2em 0em;
    background-image: url(/assets/bg-1.jpeg);
    background-size: cover;
    background-position: bottom;
  }

  &__bg-1 {
    background-image: url(/assets/bg-1.jpeg);
  }

  &__bg-2 {
    background-image: url(/assets/bg-2.jpeg);
  }

  &__bg-3 {
    background-image: url(/assets/bg-3.jpeg);
  }

  &__textBox {
    width: 30%;
    position: absolute;
    bottom: 10%;
    right: 3%;
    text-align: left;

    @include for_breakpoint(sm-resolution) {
      width: 100%;
      right: 0%;
      bottom: 0%;
    }

    @include for_breakpoint(xxl-resolution) {
      width: 100%;
      right: 0%;
      bottom: 0%;
    }
  }

  &__heading {
    font-size: 1.9em;
    font-weight: 900;
    font-family: $heading-family;
    color: $color-white;
    background-color: rgba($color: $text-dark, $alpha: 0.95);
    text-transform: uppercase;
    word-spacing: 0.2em;
    padding: 0.2em;
    animation: 2s slideRight;

    @include for_breakpoint(sm-resolution) {
      font-size: 1.5em;
    }

    @include for_breakpoint(xxl-resolution) {
      font-size: 1.5em;
    }
  }

  &__description {
    font-size: 0.9em;
    color: $color-white;
    font-weight: 500;
    margin-top: 0.5em;
    background-color: rgba($color: $primary, $alpha: 0.55);
    padding: 1em;
    line-height: 1.5em;
    animation: 2s slideBottom;

    @include for_breakpoint(sm-resolution) {
      font-size: 0.8em;
      margin-top: 0em;
    }

    @include for_breakpoint(xxl-resolution) {
      font-size: 0.8em;
      margin-top: 0em;
    }
  }

  &__pagination {
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
}

//About
.about {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0em 7em;

  @include for_breakpoint(sm-resolution) {
    padding: 0em 2em;
    margin-top: -3rem;
  }

  @include for_breakpoint(xxl-resolution) {
    padding: 0em 2em;
    margin-top: -3rem;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2em 0em;

    @include for_breakpoint(sm-resolution) {
      flex-direction: column;
    }

    @include for_breakpoint(xxl-resolution) {
      flex-direction: column;
    }
  }
  &__box {
    flex: 1;
    position: relative;

    &:not(:first-child) {
      margin-left: 1.2em;

      @include for_breakpoint(sm-resolution) {
        margin-top: 2em;
      }

      @include for_breakpoint(xxl-resolution) {
        margin-top: 2em;
      }
    }
  }

  &__textBox {
    padding-left: 1.5em;
  }

  &__heading {
    font-size: 0.8em;
    font-weight: 700;
    color: $w-heading-color;
    text-transform: uppercase
  }

  &__main {
    font-size: 2em;
    line-height: 1.5em;
    margin: 1.4em 0em;
    color: $text-dark;
    font-family: $heading-family;

    @include for_breakpoint(sm-resolution) {
      font-size: 1.6em;
    }
  }

  &__description {
    font-size: 0.8em;
    color: $text;
    line-height: 2em;
    border-left: 3px solid $bg-line;
    padding-left: 1.5em;
  }

  &__link {
    font-size: 0.9em;
    color: $primary;
    font-weight: 400;
    font-family: $heading-family;
  }

  &__circle-01,
  &__circle-02,
  &__circle-03 {
    position: absolute;
  }

  &__circle-01 {
    right: 0%;
    top: 60%;
    transform: translateY(-60%);
    width: 40%;

    @include for_breakpoint(sm-resolution) {
      right: 0%;
      top: 100%;
      transform: translateY(0);
      width: 45%;
    }

    @include for_breakpoint(xxl-resolution) {
      right: 0%;
      top: 100%;
      transform: translateY(0);
      width: 45%;
    }
  }

  &__circle-02 {
    top: 20%;
    left: 35%;
    width: 15%;

    @include for_breakpoint(sm-resolution) {
      bottom: 0%;
      left: 10%;
      width: 15%;
    }

    @include for_breakpoint(xxl-resolution) {
      bottom: 0%;
      left: 10%;
      width: 15%;
    }
  }

  &__circle-03 {
    bottom: 5%;
    left: 57%;
    width: 12%;

    @include for_breakpoint(sm-resolution) {
      bottom: 0%;
      left: 57%;
      width: 12%;
    }

    @include for_breakpoint(xxl-resolution) {
      bottom: 0%;
      left: 57%;
      width: 12%;
    }
  }
}

/* Features */
.features {
  width: 100%;
  height: 100%;
  margin-top: 2em;
  padding: 7em 7em;
  clip-path: polygon(0 14%, 100% 0%, 100% 75%, 0% 100%);
  background-image: linear-gradient(180deg, $w-bg, $w-bg), url(/assets/bg-2.jpg);
  background-position: 0 50%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;

  @include for_breakpoint(sm-resolution) {
    padding: 7em 2em 6em 2em;
    margin-bottom: 4em;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    margin-top: 8em;
  }

  @include for_breakpoint(xxl-resolution) {
    padding: 7em 2em 6em 2em;
    margin-bottom: 4em;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    margin-top: 8em;
  }

  &__heading {
    font-size: 0.8em;
    font-weight: 700;
    color: $w-heading-color;
    text-transform: uppercase;

    @include for_breakpoint(sm-resolution) {
      font-size: 0.7em;
    }

    @include for_breakpoint(xxl-resolution) {
      font-size: 0.7em;
    }
  }

  &__info {
    font-size: 1.8em;
    font-weight: 600;
    color: $text-dark;
    font-family: $heading-family;

    @include for_breakpoint(sm-resolution) {
      font-size: 1.6em;
    }

    @include for_breakpoint(xxl-resolution) {
      font-size: 1.6em;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4em 0em;
    flex-direction: row;

    @include for_breakpoint(sm-resolution) {
      margin: 4em 0em;
      flex-direction: column;
    }

    @include for_breakpoint(xxl-resolution) {
      margin: 4em 0em;
      flex-direction: column;
    }
  }

  &__box {
    flex: 1;
    height: 100%;
    margin: 0em 0.8em;
    text-align: center;
  }

  &__img {
    width: 50%;
  }

  &__main {
    font-size: 1.2em;
    line-height: 1.75em;
    font-weight: 700;
    color: $text-dark;
    text-transform: capitalize;
    margin-top: 1em;
    font-family: $heading-family;
  }

  &__description {
    font-size: 0.8em;
    color: $text;
    line-height: 1.5em;
    margin-top: 1em;
  }
}

.general__line {
  width: 20%;
  height: 1px;
  background-color: $primary;
  margin: 0.8em auto;
}

//Service
.service {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 3em;
  padding: 0em 7em;

  @include for_breakpoint(sm-resolution) {
    padding: 0em 2em;
    margin-top: -3rem;
  }

  @include for_breakpoint(xxl-resolution) {
    padding: 0em 2em;
    margin-top: -3rem;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2em 0em;

    @include for_breakpoint(sm-resolution) {
      flex-direction: column;
    }

    @include for_breakpoint(xxl-resolution) {
      flex-direction: column;
    }
  }

  &__box {
    flex: 1;
    position: relative;

    &:first-child {
      padding-right: 1.7em;

      @include for_breakpoint(sm-resolution) {
        padding-right: 0em;
        margin:10rem 0rem;
      }

      @include for_breakpoint(xxl-resolution) {
        padding-right: 0em;
        margin:10rem 0rem;
      }
    }
  }

  &__textBox {
    padding-left: 1.5em;

    @include for_breakpoint(sm-resolution) {
      padding-left: 0em;
    }

    @include for_breakpoint(xxl-resolution) {
      padding-left: 0em;
    }
  }

  &__heading {
    font-size: 0.8em;
    font-weight: 700;
    color: $w-heading-color;
    text-transform: uppercase;
  }

  &__main {
    font-size: 2em;
    line-height: 1.5em;
    margin: 1.4em 0em;
    color: $text-dark;
    font-family: $heading-family;

    @include for_breakpoint(sm-resolution) {
      font-size: 1.6em;
    }
  }

  &__description {
    font-size: 0.8em;
    color: $text;
    line-height: 2em;
    border-left: 3px solid $bg-line;
    padding-left: 1.5em;
  }

  &__link {
    font-size: 0.9em;
    color: $primary;
    font-weight: 400;
    font-family: $heading-family;
  }

  img {
    position: absolute;
  }

  &__image-01 {
    width: 52%;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  &__image-02 {
    width: 42%;
    top: 5%;
    right: 10%;
  }

  &__image-03 {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    bottom: 0%;
    left: 10%;
  }

  &__image-04 {
    width: 15%;
  }
}

/* Patron */
.patron {
  margin-top: 5em;
  padding: 0em 7em;
  overflow-x: hidden;

  &__box {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 2em;

    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  &__roundImage {
    width: 350px;
    height: 350px;
    // background-color: rgba(233, 235, 254, 0.97);
    border-radius: 50%;
    margin: 1em auto;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__info {
    margin-top: 1em;
  }

  &__name {
    font-size: 1.2em;
    color: $text-dark;
    font-weight: 700;
    font-family: $heading-family;
    margin-bottom: 0.5em;
  }

  &__title {
    text-transform: uppercase;
    color: $text;
    font-weight: 500;
    font-size: 1em;
  }
}

/* Swipes */
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 2em;
  background-image: linear-gradient(180deg, $w-bg, $w-bg), url(/assets/bg-2.jpg);
  background-position: 0 50%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  padding: 0em 10em;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);

  &-slide {
    text-align: center;
    margin-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &__box {
    position: relative;
    width: 50%;
    height: 100%;
    padding-bottom: 5em;

     @include for_breakpoint(sm-resolution) {
      width: 95%;
      padding-bottom: 8em;
    }

    @include for_breakpoint(xxl-resolution) {
      width: 95%;
      padding-bottom: 8em;
    }
  }

  &__header {
    margin-bottom: 3em;
    margin-top: 4em;
  }

  &__heading {
    font-size: 1.7em;
    font-weight: 700;
    color: $text-dark;
    font-family: $heading-family;
  }

  &__info {
    font-size: 0.9em;
    color: $text;
    line-height: 2em;
    margin-top: 1.5em;
  }

  &-pagination {
    margin-bottom: 2em;

    span {
      background-color: $primary;
    }
  }
}

/* Partners */
.partners {
  margin-top: 4em;
  padding: 0em 7em;
  text-align: center;

  &__wrapper {
    position: relative;
  }

  &__heading {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: $text-dark;
    font-family: $heading-family;
  }

  &__info {
    font-size: 0.8em;
    color: $text;
    font-family: $heading-family;
    font-weight: 500;
    font-style: italic;
    width: 60%;
    margin: 0em auto;
    padding-top: 1.8em;
    line-height: 1.8em;
  }

  &__w-cola {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &__w-pat {
    flex: 1;
    height: 100%;

    &:not(:first-child) {
      margin-left: 1em;
    }

    img {
      width: 90%;
    }
  }
}

.w-form {
  &__hero {
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(180deg, $w-element, $w-element),
      url(/assets/member__img.jpg);
    background-position: 50% 50%, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 2em;
    font-weight: 700;
    color: $color-white;
    font-family: $heading-family;
  }

  &__container {
    width: 100%;
    padding: 4em 7em;
    background-color: $w-bg;
    position: relative;

    @include for_breakpoint(sm-resolution) {
    padding: 4em 2em;
  }

  @include for_breakpoint(xxl-resolution) {
    padding: 4em 2em;
  }
  }

  &__main {
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    color: $text-dark;
    font-style: italic;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    padding: 2em;
    margin-top: 1.5em;
    box-shadow: $box-shadow;
  }

  &__element {
    text-align: center;

    .line {
      width: 20%;
      height: 1px;
      background-color: $bg-line;
      display: inline-block;
    }

    .text {
      margin: 0em 0.7em;
      font-size: 0.7em;
      color: $w-heading-color;
      text-transform: uppercase;
    }
  }

  &__formBox {
    margin-top: 1.5em;
    text-align: center;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;

    @include for_breakpoint(sm-resolution) {
      flex-direction: column;
    }
  
    @include for_breakpoint(xxl-resolution) {
      flex-direction: column;
    }

    &:not(:first-child) {
      margin-top: 3em;

    }
  }

  &__box {
    flex: 1;
    height: 100%;

    &:not(:first-child) {
      margin-left: 2.2em;

      @include for_breakpoint(sm-resolution) {
        margin-top: 1.5rem;
        margin-left: 0em;
      }
    
      @include for_breakpoint(xxl-resolution) {
        margin-top: 1.5rem;
        margin-left: 0em;
      }
    }
  }

  &__label {
    display: block;
    font-size: 0.7em;
    color: $text;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__required {
    background-color: $w-bg;
    padding: 0.5em;
    font-size: 0.8em;
    margin-left: 0.6em;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    padding: 0.9em;
    border: 1px solid $bg-line;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 300;
    font-size: 0.7em;
    color: $text;
    outline: none;
    margin-top: 2em;
    transition: all 0.4s ease-in-out;

    &:focus {
      border: 1px solid $primary;
    }
  }
}

// ================== Team ===============================
.team {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0em 7em;
  margin-top: 3em;
  flex-direction: row;

  @include for_breakpoint(sm-resolution) {
    padding: 0em 2em;
    flex-direction: column;
  }

  @include for_breakpoint(xxl-resolution) {
    padding: 0em 2em;
    flex-direction: column;
  }

  &__wrapper {
    flex: 1;
    height: 100%;
    text-align: center;
    border: 1px solid rgba($color: $text-dark, $alpha: 0.5);
    border-radius: 10px;
    padding: 2em 0em;

    &:not(:first-child) {
      margin-left: 2em;

      @include for_breakpoint(sm-resolution) {
        margin-left: 0em;
        margin-top: 1.2em;
      }
    
      @include for_breakpoint(xxl-resolution) {
        margin-left: 0em;
        margin-top: 1.2em;
      }
    }
  }

  &__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    margin-top: -3rem;
  }

  &__i {
    width: 49%;

    @include for_breakpoint(sm-resolution) {
      margin-top: -1rem;
    }
  
    @include for_breakpoint(xxl-resolution) {
      margin-top: -1rem;
    }
    
  }

  &__details {
    margin-top: 1.5em;
    padding: 0em 1em;
  }

  &__name {
    font-size: 1.7em;
    font-weight: 700;
    font-family: $heading-family;
    color: $text-dark;
  }

  &__position {
    font-size: 1em;
    font-weight: 400;
    margin: 1em 0em;
  }

  &__bio {
    font-size: 0.8em;
    font-weight: 300;
  }
}

.team__hero {
  width: 100%;
  height: 55vh;
  background-image: linear-gradient(180deg, $w-element, $w-element),
    url(/assets/team.jpeg);
  background-position: 50% 50%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);

  &__box {
    position: relative;
    margin: auto;
    padding: 0;
    width: 65%;
    height: 50%;
    max-width: 60rem;
    max-height: 33rem;
    overflow: hidden;
    border-radius: 2px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  }

  &__close {
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;
    border-radius: 2px;
    transition: 0.4s ease-out;
    position: absolute;
    top: 0;
    right: 0;

    &:hover,
    &:focus {
      color: #111;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
