.w-about {
  &__hero {
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(180deg, $w-element, $w-element),
      url(/assets/w-about-img.jpg);
    background-position: 50% 50%, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 2em;
    font-weight: 700;
    color: $color-white;
    font-family: $heading-family;
  }
}

.w-container {
  width: 100%;
  padding: 0em 7rem;
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @include for_breakpoint(sm-resolution) {
    padding: 0em 2em;
    flex-direction: column;
  }

  @include for_breakpoint(xxl-resolution) {
    padding: 0em 2em;
    flex-direction: column;
  }

  &__box {
    position: relative;
    flex: 1;
    height: 100%;

    &:not(:first-child) {
      margin-left: 2em;

      @include for_breakpoint(sm-resolution) {
        margin-left: 0em;
        margin-top: 2rem;
      }
    
      @include for_breakpoint(xxl-resolution) {
        margin-left: 0em;
        margin-top: 2rem;
      }
    }
  }

  &__heading {
    position: relative;
    font-size: 0.9em;
    color: $w-heading-color;
    letter-spacing: 0.2em;
    font-weight: 600;

    &::after {
      content: "";
      width: 12%;
      height: 3px;
      background-color: $primary;
      position: absolute;
      bottom: -35%;
      left: 0%;
    }
  }

  &__main {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.5em 0em;
    color: $text-dark;
    font-family: $heading-family;

    @include for_breakpoint(sm-resolution) {
      font-size: 1.7em;
    }
  
    @include for_breakpoint(xxl-resolution) {
      font-size: 1.7em;
    }
  }

  &__info {
    font-size: 0.8em;
    color: $text;
    line-height: 2em;
  }

  &__description {
    font-size: 0.9em;
    color: $text;
    line-height: 2em;
    font-weight: 500;
    margin-top: 2.5em;

    @include for_breakpoint(sm-resolution) {
      margin-top: 0em;
    }
  
    @include for_breakpoint(xxl-resolution) {
      margin-top: 0em;
    }
  }

  &__wrapper {
    margin-top: 2em;
  }

  &__imgBox {
    text-align: center;
    margin: 1.2em 0em;
  }

  &__img {
    width: 50%;

    @include for_breakpoint(sm-resolution) {
      width: 80%;
    }
  
    @include for_breakpoint(xxl-resolution) {
      width: 80%;
    }
  }

  &__afri {
    font-size: 1em;
    color: $text;
    font-weight: 600;
    
    @include for_breakpoint(sm-resolution) {
      font-size: 1.3em;
    }
  
    @include for_breakpoint(xxl-resolution) {
      font-size: 1.3em;
    }
  }
}

.Count:after {
  content: "%";
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;

  &-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 1em;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-top-left: 3px;
    -moz-border-radius-bottom-left: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    span {
      display: block;
      background: rgba(0, 0, 0, 0.1);
      padding: 0 20px;
      height: 35px;
      line-height: 35px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-top-left: 3px;
      -moz-border-radius-bottom-left: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  &-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 50%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

  &-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
  }
}

.w-more {
  width: 100%;
  padding: 0em 7rem;
  margin-top: 4em;

  @include for_breakpoint(sm-resolution) {
    padding: 0em 2em;
  }

  @include for_breakpoint(xxl-resolution) {
    padding: 0em 2em;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    background-color: $text-dark;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    margin-bottom: 1.4em;
    border-radius: 5px;
    flex-direction: row;

    @include for_breakpoint(sm-resolution) {
      flex-direction: column;
    }

    @include for_breakpoint(xxl-resolution) {
      flex-direction: column;
    }
  }

  &__box {
    flex: 1;
    height: 100%;

    &:not(:first-child) {
      text-align: right;
      padding-top: .6em;
    }
  }

  &__main {
    font-size: 1.1em;
    color: $color-white;
    font-weight: 700;
    line-height: 60px;
    
    @include for_breakpoint(sm-resolution) {
      line-height: 35px;
    }

    @include for_breakpoint(xxl-resolution) {
      line-height: 35px;
    }
  }

  &__sub {
    font-size: 0.9em;
    color: $color-white;
    font-weight: 300;
  }
}

.w-mission {
  width: 100%;
  margin-top: 1em;
  padding: 0em 7em;

  @include for_breakpoint(sm-resolution) {
      padding: 0em 2em;
    }

    @include for_breakpoint(xxl-resolution) {
      padding: 0em 2em;
    }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    flex-direction: row;

    @include for_breakpoint(sm-resolution) {
      flex-direction: column;
    }

    @include for_breakpoint(xxl-resolution) {
      flex-direction: column;
    }
  }

  &__box {
    flex-basis: 1;
    height: 100%;
    background-color: $text-dark;
    color: $color-white;
    padding: 3em 2em;
    transition: all .4s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $primary;
    }

    &:not(:first-child) {
      margin-left: 1em;

      @include for_breakpoint(sm-resolution) {
        margin-top: 1rem;
        margin-left: 0em;
    }

    @include for_breakpoint(xxl-resolution) {
      margin-top: 1rem;
      margin-left: 0em;
    }
    }
  }

  &__main {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: .5em;
  }

  &__info {
    font-size: 0.8em;
    line-height: 2em;
    font-weight: 300;
  }
}