<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    
    <section class="w-about">
        <div class="w-about__hero">
            <h2 class="w-about__heading">About Us</h2>
        </div>
    </section>

    <main>
        <section class="w-container">
            <div class="w-container__box">
                <h3 class="w-container__heading">Vision</h3>
                <h1 class="w-container__main">Our Vision: Tracers</h1>
                <p class="w-container__info">
                    Youth in Africa constituted 19% of the global youth population in 2015, numbering 226 million.
                    And this number has spiked higher ever since then. Our target is 0.2% of this population which
                    sums up to 500,000 youths.
                </p>
                <p class="w-container__info">
                    At Tracers, we are building a healthy community driven by competition. Competition with the
                    global space. We are awakening the pioneering African Spirit again across Business,
                    Technology, and Leadership. There is no way we would compete with the Global stage without
                    transforming Africa first. Hence, we would set the standard high and pursue it with all our might.
                    The truth is, we are far behind the rest of the world in the race for excellence in business,
                    leadership and technology. However, this will not be the case in the years to come.
                </p>
                <div class="w-container__wrapper">
                    <div class="clearfix skillbar " data-percent="100%">
                        <div class="skillbar-title" style="background: #d35400;"><span>leadership</span></div>
                        <div class="skillbar-bar" style="background: #e67e22;"></div>
                        <div class="skillbar-percent Count">100</div>
                    </div>
                    <!-- End Skill Bar -->
                    
                    <div class="clearfix skillbar " data-percent="100%">
                        <div class="skillbar-title" style="background: #2980b9;"><span>Reliance</span></div>
                        <div class="skillbar-bar" style="background: #3498db;"></div>
                        <div class="skillbar-percent Count">100</div>
                    </div> 
                    <!-- End Skill Bar -->

                    <div class="clearfix skillbar " data-percent="99%">
                        <div class="skillbar-title" style="background: #46465e;"><span>Integrity</span></div>
                        <div class="skillbar-bar" style="background: #5a68a5;"></div>
                        <div class="skillbar-percent Count">99</div>
                    </div> 
                    <!-- End Skill Bar -->
                </div>
            </div>
            <div class="w-container__box">
                <h2 class="w-container__afri">We are One</h2>
                <div class="w-container__imgBox"><img src="/assets/africa.png" alt="africa" class="w-container__img"></div>
            </div>
        </section>

        <!-- //Get To Know More -->
        <section class="w-more">
            <div class="w-more__wrapper">
                <div class="w-more__box">
                    <span class="w-more__main">Need to know more about us?</span>
                    <span class="w-more__sub">Just download our brochure...</span>
                </div>
                <div class="w-more__box">
                    <button class="w-more__btn"><i class='bx bxs-cloud-download'></i> Download brochure</button>
                </div>
            </div>
        </section>

        <section class="w-container">
            <div class="w-container__box">
                <h3 class="w-container__heading">Mission</h3>
                <h1 class="w-container__main">Our Mission is to create an enablement for youths of African race to thrive</h1>
            </div>
            <div class="w-container__box">
                <p class="w-container__description">
                    To raise a community for visionary African youths, a hub that supports <br>
                    creativity and an ecosystem that builds exceptional leaders
                </p>
            </div>
        </section>

        <section class="w-mission">
            <div class="w-mission__wrapper">
                <div class="w-mission__box">
                    <h2 class="w-mission__main">1</h2>
                    <p class="w-mission__info">
                        To optimize our global population advantage to groom and nuture young
                        Africans with grounded knowledge of Africa history and her challenges.
                    </p>
                </div>
                <div class="w-mission__box">
                    <h2 class="w-mission__main">2</h2>
                    <p class="w-mission__info">
                        To ensure a generation of young Africans capable of keeping pace with global changes and making an economic, 
                        social, education and health boom in our society.
                    </p>
                </div>
                <div class="w-mission__box">
                    <h2 class="w-mission__main">3</h2>
                    <p class="w-mission__info">
                        To strengthen of the unity and the potential of every young African, 
                        the genuine interaction and cooperation of African sons and 
                        daughters who will champion the emancipation of the continent from its struggles.
                    </p>
                </div>
            </div>

            <div class="w-mission__wrapper">
                <div class="w-mission__box">
                    <h2 class="w-mission__main">4</h2>
                    <p class="w-mission__info">
                        To erect a veritable bridge connecting all of African decants globally towards rebirth of our motherland
                    </p>
                </div>
                <div class="w-mission__box">
                    <h2 class="w-mission__main">5</h2>
                    <p class="w-mission__info">
                        To recognize and celebrate African leaders and institutions that have shown extraordinary 
                        commitment and integrity in support for the advancement of Africa renaissance
                    </p>
                </div>
                <div class="w-mission__box">
                    <h2 class="w-mission__main">6</h2>
                    <p class="w-mission__info">
                        To recognize and celebrate the immeasurable of Africa people of 
                        African dissents to advancement of human development and civilization
                    </p>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
    <script src="/scripts/jquery.js"></script>
</body>
</html>