<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="w-about">
        <div class="team__hero">
            <h2 class="w-about__heading">Our Founders</h2>
        </div>
    </section>
    <main>
        
        <div class="team">
            <div class="team__wrapper">
                <img src="/assets/president.png" alt="president" class="team__img">
                <div class="team__details">
                    <h2 class="team__name">Igo Isaiah</h2>
                    <p class="team__position">Founder/President</p>
                    <p class="team__bio">
                        A young visionary leader with rooted passion for youths developments and empowerment in Africa.
                    </p>
                </div>
            </div>
            <div class="team__wrapper">
                <img src="/assets/vice-president.png" alt="vice president" class="team__img team__i">
                <div class="team__details">
                    <h2 class="team__name">Ahmed Mohammed</h2>
                    <p class="team__position">Vice President</p>
                    <p class="team__bio">
                        A young visionary leader with rooted passion for youths developments and empowerment in Africa.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>